body {
  display: block;
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 50px;
  padding-left: 10px;
  color: seashell;
}

header nav {
  padding-right: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: seashell;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: underline;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-container {
  display: flex;
  width: 1200px;
  height: 700px;
  align-items: center;
  justify-content: center;
  margin-top: 69px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.image-content {
  display: block;
  color: seashell;
  background-color: black;
  align-items: center;
  justify-content: center;
  width: 1200px;
}

.tea-container {
  display: block;
  width: 1000px;
  justify-content: center;
  text-align: center;
  margin-left: 250px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.title {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.teas {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tea-image img {
  width: 300px;
  height: 200px;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
}

.location-container {
  display: block;
  justify-content: center;
  width: 1200px;
  height: 500px;
  margin-left: 150px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}

.title3 .location {
  display: flex;
  align-content: space-around;
  align-items: center;
}

.text {
  display: block;
  background-color: black;
  color: seashell;
  opacity: 1;
  width: 300px;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  margin: 15px 40px;
}

.contact {
  display: block;
  height: 200px;
  justify-content: center;
}

.copyright {
  display: flex;
  text-align: left;
  margin-left: 20px;
}
